/* Apply global styles */
html, body {
  height: 100%;  /* Ensure full height of the viewport */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;               /* Makes body a flex container */
  flex-direction: column;      /* Align children (content and footer) in a column */
  justify-content: space-between; /* Ensures the footer is pushed to the bottom */
}

main {
  flex-grow: 1;                /* Ensures the main content takes up remaining space */
}

footer {
  margin-top: 20px;            /* Adds space above the footer */
}
